.env
node_modules/
dist/
.DS_Store
# OS
.DS_Store
Thumbs.db

# Logs
logs
*.log

# Env files
.env
.env.*

# Editor
.vscode/
.idea/

# Build
dist/
build/
.history/
oau-rrxb-ffi

test-api-flow.js

final_success_v2.txt
final_success_v3.txt
final_success.txt
final_test_output.txt
search_test_output_v2.txt
search_test_output.txt
sprint-2-tasks.md
test_output_2.txt
test_output_3.txt
test_output.txt
migration_output_final.txt
migration_output.txt

sprint-3-api-flow.md
sprint-3-tasks.md
